{% extends('base.html.twig') %}

{% block title %}
    <title>Home</title>
{% endblock %}

{% block body %}
    <h1 class="text-center mb-4">Sistema de registro de notas</h1>
      <img src="{{ asset('./uploads/fotos/school.gif')}}" class="img-fluid rounded mx-auto d-block" alt="...">

{% endblock %}